@import url('fonts.css');

body { margin: 0; padding: 0; font-family: "lucida grande",tahoma,verdana,arial,sans-serif; font-size: 11px; color: #222; }
h1, h2, h3, h4, h5, h6 { margin: 0 0 10px 0; padding: 0; font-family: 'Russo One', Impact; text-shadow: 2px 2px 3px #aaa; font-weight: 900; }
h1 { font-size: 30px; } h2 { font-size: 24px; } h3 { font-size: 20px; } h4 { font-size: 16px; } h5 { font-size: 14px; } h6 { font-size: 12px; }
ul, ol { margin: 0; padding-left: 5px; list-style: square inside; }
li { }
a, a:hover, a:active, a:visited { color: #004fff; text-decoration: none; }
a:hover { color: #228; text-decoration: underline; }
input[type="text"], input[type="password"], textarea, select {
  border: 1px solid #666;
  font-weight: normal;
  padding: 5px 3px;
  margin: 0 1px 0 0;
  font-size: 11px;
}
input[type="text"], input[type="password"] {
  height: 14px;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
  box-shadow: 2px 2px 2px #666;
}
input[type="text"]:hover, input[type="password"]:hover, textarea:hover, select:hover {
  box-shadow: 2px 2px 2px #666;
}
input[type="text"]:disabled, input[type="password"]:disabled, textarea:disabled, select:disabled {
  background: #ccc;
}
thead {
  background-color: #f80;
  font-weight: bold;
  color: white;
  font-size: 11px;
}

.af-cont { }
.af-cont-menu { }
.af-cont-menu ul { padding: 5px;  }
.af-cont-menu ul ul { padding: 0 0 0 13px; }
.af-cont-menu li { color: #004fff; }
.af-cont-header { }
.af-cont-content { }
.af-cont-footer { margin: 10px 0 0 0; padding: 10px 5px; color: white; }

.af-header-bar { padding: 10px 5px; color: white; }
.af-header-bar a, .af-header-bar a:hover, .af-header-bar a:active, .af-header-bar a:visited { padding: 5px 10px; color: white; text-decoration: none; }
.af-header-bar a:hover { background-color: #228; }
.af-header-title { margin: 10px 0; }

.af-menu-bar { padding: 2px 5px; font-size: 12px; font-weight: bold; }
.af-menu-items { border-top: 1px solid #222; }

.af-left { float: left; }
.af-right { float: right; }
.af-clear { clear: both; }

.af-lookup-term { width: 120px; }
.af-lookup-page { width: 20px; }
.af-lookup-select-cont {
  display: inline-block;
  margin: 0 5px 0 0;
  background-color: #DFEFFC;
  border: 1px solid #C5DBEC;
}
.af-lookup-select-text { display: inline-block; padding: 5px; }
.af-lookup-select-del {
  display: inline-block;
  padding: 0px 5px 2px;
  cursor: pointer;
  vertical-align: top;
  border: 1px solid transparent; }
.af-lookup-select-del:hover {
  color: white;
  border: 1px solid #228;
  background-color: #1748C4;
}

.af-table-row-clickable { cursor: pointer; }
.af-table-row-alt { background-color: #ff8; }

.af-flash-dialog { position: fixed; display: none; width: 500px; left: 50%; margin-left: -250px; top: 40%; }

.af-errors { font-weight: bold; color: red; }

.af-form-checkboxes { display: inline-block; width: 200px; }

.af-progressbar-animated .ui-progressbar-value { background-image: url("../images/pbar-ani.gif"); }

/* jQuery UI override */
.ui-button { top: 1px; }
.ui-widget button { top: 0; }