@font-face {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  src: local('Russo One'), local('RussoOne-Regular'), url('../fonts/Russo_One/RussoOne-Regular.ttf');
}

@font-face {
  font-family: 'Lucida Grande';
  font-style: normal;
  font-weight: normal;
  src: local('Lucida Grande Regular'), url('../fonts/Lucida_Grande/LucidaGrande-Regular.ttf');
}
@font-face {
  font-family: 'Lucida Grande';
  font-style: normal;
  font-weight: bold;
  src: local('Lucida Grande Bold'), url('../fonts/Lucida_Grande/LucidaGrande-Bold.ttf');
}